:root{
    --PrimaryColor: hsl(13, 83%, 45%);
    --SecondaryColor: hsl(13, 80%, 60%);
    --gradientColor: linear-gradient(to right, hsl(13, 80%, 60%), hsl(13, 83%, 45%));
    --whiteColor: hsl(42, 11%, 83%);
    --blackColor: hsl(195, 25%, 6%);
    --textColor: hsl(240, 6%, 7%);
    --whiteColorDeam: hsl(40, 24%, 78%);
    --greyText: rgb(75, 72, 71);
    --inputColor: rgb(29, 27, 26);
    --bodyColor: rgb(238, 216, 187);
    --cardBG: rgb(226, 219, 212);
}

.footer{
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .videoDiv{
        position: absolute;
        width: 100%;
        height: 100%;

        video{
            height: 100%;
            object-fit: cover;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .secContent{
        width: 100%;
        height: max-content;
        padding: 2rem initial;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        row-gap: 2rem;
        z-index: 200;

        .contactsDiv{
            justify-content: space-between;
            gap: 2rem; 
            flex-direction: column;

            .text{
                small{
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--blackColor);
                }

                h2{
                    color: var(--blackColor);
                    font-size: 1.8rem;
                }
            }

            .inputDiv{
                width:100%;
                gap: 1rem;
                flex-direction: column;

                input{
                    border-radius: 3rem;
                    border: 1px solid var(--blackColor);
                    background: transparent;
                    outline: none;
                    padding: .5rem .6rem;
                    color: var(--blackColor);
                    font-weight: 500;
                    font-size: 18px;

                     &::placeholder{
                        color: var(--blackColor);
                        opacity: .7;
                     }
                }

                .btn{
                    color: var(--blackColor);
                    width: 100%;
                    justify-content: center;
                    font-weight: 500;
                    gap: .5rem;

                    .icon{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .footerCard{
        position: relative;
        padding: 1rem 1rem 4rem;
        gap: 2rem;
        border-radius: 1rem;
        background: var(--bodyColor);
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;

        .footerIntro{
            justify-content: center;
            flex-direction: column;
            flex-basis: 50%;
            align-items: flex-start;
            row-gap: .5rem;
    }

        .logoDiv{
            .logo{

                color: var(--whiteColorDeam);
                font-weight: 600;

                .icon{
                    font-size: 25px;
                    color: var(--PrimaryColor);
                    margin-right: 5px;
                }
            }
        }

        .footerParagraph{
            font-size: 13px;
            color: var(--whiteColorDeam);
        }

        .footerSocials{
            column-gap: .7rem;

            .icon{
                font-size: 20px;
                color: var(--whiteColorDeam);
                cursor: pointer;

                &:hover{
                    color: var(--PrimaryColor);
                }
            }
        }

        .footerLinks{
            flex-basis: 50%;
            width: 100%;
            gap: 1rem;
            grid-template-columns: repeat(2 1fr);
            justify-content: space-between;

            .linkGroup{
                .groupTitle{
                    display: block;
                    font-weight: 600;
                    color: var(--whiteColorDeam);
                    margin-bottom: .5rem;
                }

                .footerList{
                    font-size: 15px;
                    color: var(--whiteColor);
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    .icon{
                        color: var(--greyText);
                        font-size: 15px;
                    }

                    &:hover{
                        color: var(--PrimaryColor);
                        transform: translate(7px);

                        .icon{
                            color: var(--SecondaryColor);
                        }
                    }
                }
            }
        }

        .footerDiv{
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: .5rem 2rem;
            color: var(--whiteColorDeam);

            small{
                font-size: 10px;
            }
        }
  }
}