*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior:smooth;
}

/*colors and styling */
:root{
    --PrimaryColor: hsl(13, 83%, 45%);
    --SecondaryColor: hsl(13, 80%, 60%);
    --gradientColor: linear-gradient(to right, hsl(13, 80%, 60%), hsl(13, 83%, 45%));
    --whiteColor: hsl(42, 11%, 83%);
    --blackColor: hsl(195, 25%, 6%);
    --textColor: hsl(240, 6%, 7%);
    --whiteColorDeam: hsl(40, 24%, 78%);
    --greyText: rgb(75, 72, 71);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(226, 219, 212);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display:flex;
    align-items: center;
}

.grid{
    display:grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover{
    background: var(--greyText);
    color: var(--whiteColor);
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

body{
    background: var(--bodyColor);
}

@media screen and (min-width: 1240px){
    .container{
        width: 80% !important;
        margin: auto;
    }

    .section{
        padding: 6rem 0 4rem;
    }
}